<app-nav>

</app-nav>
<main>
  <div class="container-fluid">
    <div class="row">
      <div id="main" class="col-12">
        <h1 class="title">
          {{'home_screen.title'|translate}}
        </h1>
        <button class="btn btn-success btn-add" (click)="add.showModal()">
          <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
          {{'home_screen.add'|translate}}
        </button>
        <table class="table table-bordered text-left">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">{{'home_screen.full_name'|translate}}</th>
              <th scope="col">{{'common.student_id'|translate}}</th>
              <th scope="col">{{'home_screen.request_type'|translate}}</th>
              <th scope="col">{{'home_screen.quantity'|translate}}</th>
              <th scope="col">{{'home_screen.note'|translate}}</th>
              <th scope="col">{{'home_screen.reuqest_date'|translate}}</th>
              <th scope="col" *ngIf=""> File</th>
              <th scope="col">{{'status.status'|translate}}</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of stuentTasks;  let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{task.student?.fullName}}</td>
              <td>{{task.student?.studentId}}</td>
              <td>{{task.requestType?.description}}</td>
              <td>{{task.quantity}}</td>
              <td>{{task.note}}</td>
              <td>{{task.createDate |date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>
                <!-- <span [ngClass]="task.status==1 ? 'send': task.status==2 ? 'doing':'success' ">
                  {{task.status |taskstatus}}
                </span> -->
                <span [ngClass]="loadCss(task.status) ">
                  {{task.status |taskstatus}}
                </span>

              </td>
              <td>
                <button class="btn btn-danger" (click)="removeItem(task.id)" *ngIf="task.status==1">
                  <fa-icon [icon]="['fas', 'trash-alt']">
                  </fa-icon>
                </button>
                <a target="blank" [href]="urlFile+ task.filePath" style="color: cornflowerblue;"
                  *ngIf="task.status==3">{{task.fileName ?? "" | compactFile }}</a>
              </td>
            </tr>
            <tr *ngIf="stuentTasks.length ==0">
              <td colspan="9" class="empty">
                Hiện tại bạn chưa có yêu cầu nào
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<app-footer-component></app-footer-component>

<app-add-component #add [student]="student" (checkLoad)="load($event)"></app-add-component>