<div class="container">
    <div class="screen">
        <div class="screen__content">
            <div class="login">
                <form name="form" novalidate #signInForm="ngForm" (submit)=" signInForm.form.valid && login()">
                    <div class="login__field">
                        <fa-icon class="button__icon" [icon]="['fas', 'user-circle']"></fa-icon>
                        <input type="text" class="login__input" name="input" [(ngModel)]="mssv"
                            placeholder="Mã số sinh viên" required minlength="10" maxlength="10" #input="ngModel">

                        <div *ngIf="input.invalid && (signInForm.submitted || input.touched) " class="alert">
                            <div *ngIf="input.errors?.['required']" class="error">
                                Mã số sinh viên bắt buộc nhập
                            </div>
                            <div *ngIf="input.errors?.['maxlength'] || input.errors?.['minlength']" class="error">
                               Mã số sinh viên gồm 10 kí tự
                            </div>
                        </div>
                    </div>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Đăng nhập</span>
                        <fa-icon class="button__icon" [icon]="['fas', 'chevron-circle-right']"></fa-icon>
                    </button>
                </form>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>