<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm Yêu Cầu Mới</h4>
        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate #addForm="ngForm" >
          <div class="form-group row ">
            <div class="col-md-8 col-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Loại yêu cầu</span>
                </div>
                <select class="form-control" [(ngModel)]="requestTypeId" name="request" required
                  #selectRequest="ngModel" (ngModelChange)="getNoteRequestType($event)">
                  <option value="">--Chọn--</option>
                  <option *ngFor="let item of requestTypes" [value]="item.id">{{item.name}}</option>
                </select>

              </div>
              <div *ngIf="selectRequest.invalid && (addForm.submitted || selectRequest.touched) ">
                <div *ngIf="selectRequest.errors?.['required']" class="error">
                  Loại yêu cầu bắt buộc chọn
                </div>
              </div>

            </div>
            <div class="col-md-4 col-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Số lượng</span>
                </div>
                <select class="form-control" name="quantity" [(ngModel)]="studentTask.quantity">
                  <option *ngFor="let item of quantities" [value]="item.id">{{item.value}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-12">
              <div class="note">
                <p>{{requestTypeNote}}</p>
              </div>
            </div>
            <div class="col-12" *ngIf="requestTypeNote">
              <div class="file" *ngIf="studentTask.fileNameStudent =='' ;else infoFile ">
                <label class="btn btn-upload"><i class="fa fa-upload"></i> Tải lên
                  <input type="file" accept=".pdf" style="display: none" (change)="onSelectFile($event)" />
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row ">

            <div class="col-md-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Ghi chú</span>
                </div>
                <textarea class="form-control" [(ngModel)]="studentTask.note" name="note"> </textarea>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-success" (click)="save(addForm)">Lưu</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>


<ng-template #infoFile>
  <div class="file">
    <span>{{studentTask.fileNameStudent}}

      <button class="btn btn-danger" style="margin-left:20px;" (click)="removeFile()">
        <i class="fa fa-trash"></i> Xóa
      </button>
    </span>
  </div>
</ng-template>