<footer class="p-4 footer">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-2 col-12">
        <div class="logo" style="display: inline">
          <img src="../../../assets/img/logofooter.png" class="thumb-fluid" alt="" width="150px" />
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="address">
          <p>
            <i class="fa fa-home mr-1"></i>
          {{'common.adress'|translate}}
          </p>
          <p>
            <span><i class="fa fa-phone mr-1"></i></span> 0274 222 0340
            <br />
          </p>

          <p>
            <span> <i class="fa fa-envelope mr-1"></i></span>
            phongdaotao@eiu.edu.vn <br />
          </p>
        </div>
      </div>
      <div class="col-md-3 text-md-center contact-icon">
        <a href="https://eiu.edu.vn/home.aspx">{{'common.home'|translate}}</a> |
        <a href="https://eiu.edu.vn/contact.aspx">{{'common.contact'|translate}}</a> |
        <a href="https://eiureview.eiu.edu.vn/">Review</a> <br />

        <a href="https://www.facebook.com/eiuvietnam"><i class="fa fa-facebook-square"></i></a>
        <a href="https://www.youtube.com/channel/UCRNZrgHklRYF0CX9cHvP7Tw"><i class="fa fa-youtube-play"></i></a>
        <a href="https://mail.google.com/a/eiu.edu.vn/" target="_blank"><i class="fa fa-google-plus"></i></a>
        <br />
        <a href="#">Copyright © 2021 EIU</a>
      </div>
    </div>
  </div>
</footer>