<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <div class="logo">
      <img src="../../../../assets/img/logo-header.png" class="logo" alt="">
    </div>


  </div>
  <div class="info dropdown">
    <button class="btn btn-primary dropdown-toggle login" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-expanded="false">
      <i class="fa fa-language" aria-hidden="true"></i>
      {{'common.language'|translate}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" (click)="switchLang('vi')">Tiếng việt</a>
      <a class="dropdown-item" href="#" (click)="switchLang('en')">English</a>
    </div>
  </div>
  <div class="info dropdown" *ngIf="isLogin">
    <button class="btn btn-primary dropdown-toggle login" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-expanded="false">
      <i class="fa fa-user-circle-o "></i>
      {{userToken.fullName}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" (click)="modalInfo.showModal()">Thông tin tài khoản</a>
      <a class="dropdown-item" href="#" (click)="modalInfo.logOut()">Đăng xuất</a>
    </div>
  </div>
</nav>

<app-info-user #modalInfo [userInfo]="userToken" (userToken)="update($event)"></app-info-user>