nav{
    color: white ;
    background-color:#174168 ;

    .logo{
        width: 50%;
        height: 50%;
    }

    h4{
        color: white;
    }
    
    button.login {
        background-color: #174168;
        border: 1px solid #174168;
    }
    a.dropdown-item{
        color :#174168
    }


    .info{
        float: right;
        margin-right: 20px;

        p{
            color: white;
        }
    }
    span {
        cursor: pointer;
    }

    .info-sigout {
        margin-left: 10px;
    }
}