<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>


    <div class="info">
      <p class="navbar-brand">
        <fa-icon [icon]="['fas', 'envelope']" ></fa-icon>
        em.huynh@eiu.edu.vn
      </p>
    </div>
  </div>


</nav>
<div class="container-fluid">
  <div class="row">
    <div id="main" class="col-12" >
      <h1 class="title">
          Danh Sách Yêu Cầu
      </h1>
        <button class="btn btn-success btn-add" (click)="modalAdd.showModal()">
          <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
            Thêm
        </button>

        <button class="btn btn-warning btn-add" (click)="test()">
          <fa-icon [icon]="['fas', 'plus-square']" ></fa-icon>
         Test
        </button>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và Tên</th>
            <th scope="col">Gmail</th>
            <th scope="col">Loại yêu cầu</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Ngày yêu cầu</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="check">
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
            <td><button class="btn btn-danger">
              <fa-icon [icon]="['fas', 'trash-alt']" >
              </fa-icon>
            </button></td>
          </tr>
          <tr *ngIf="!check">
            <td colspan="8" class="empty">
              Hiện tại bạn chưa có yêu cầu nào
            </td>
          </tr>

        </tbody>
      </table>
      
    </div>
  </div>
</div>
<app-add-component #modalAdd></app-add-component>
