<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thông tin tài khoản</h4>
        <button type="button" class="btn-close close pull-right" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row ">
          <div class="col-md-12">
            <img [src]="userInfo.urlImage" class="img-fluid" referrerpolicy="no-referrer" />
          </div>
        </div>

        <form name="form" #infoForm="ngForm" novalidate (submit)=" infoForm.form.valid && update()">
          <div class="form-group row ">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Họ và Tên</span>
                </div>
                <input type="text" class="form-control" disabled [value]="userInfo.fullName" name="fullname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" disabled [value]="userInfo.email" name="email">
              </div>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mã số sinh viên</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="userInfo.studentId" required name="studentId"
                  #studentId="ngModel" disabled >
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Khoa</span>
                </div>
                <select class="form-control" name="Depart" disabled 
                  [(ngModel)]="departId " #depart="ngModel">
                  <option value="">--Chọn--</option>
                  <option *ngFor="let item of departments" [value]="item.id">{{item.name}}</option>
                </select>
             
              </div>
            </div>
          </div>

          <div class="form-group row ">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Số điện thoại</span>
                </div>
                <input type="text" [(ngModel)]="userInfo.mobi" #mobi="ngModel" required maxlength="10"
                  class="form-control" [pattern]="mobiPattern" name="phone" />

                <div *ngIf="mobi.invalid && (infoForm.submitted || infoForm.touched) " class="alert">
                  <div *ngIf="mobi.errors?.['required']" class="error">
                    Số điện thoại bắt buộc nhập
                  </div>

                  <div *ngIf="mobi.errors?.['pattern']" class="error">
                    Số điện thoại sai định dạng
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">Lưu</button>
          </div>
        </form>

      </div>
    </div>
  </div>